/***********
 * Generic *
 ***********/

/* Generic Content Table*/
#lfmwContentTable
{
	width:100%;
    padding:5px;
}

/* Individual rows in the content table */
#lfmwContentTableRow
{
	
}

/* Individual cells in the content table */
#lfmwContentTableCell
{
	
}

/* Hidden content on the right of a span*/
#lfmwContentSpanHiddenRight
{
    float:right;
    text-align:right;
    display:none;
}

/* Content always displayed on the right */
#lfmwContentSpanDisplayRight
{
    float:right;
    text-align:right;
}

/* A generic content row */
#lfmwContentSpan
{
    float:left;
    text-align:left;
    font-size:smaller;
    opacity:0.6;
}

/* Make the background and the text opaque on hover */
#lfmwContentSpan:hover
{
	opacity:1.0;
}

/* Display hidden content on the right on hover */
#lfmwContentSpan:hover #lfmwContentSpanHiddenRight
{
	display:block;
}

/* Anchor specific settings for generic content */
a #lfmwContentSpan
{
	background-color:#000000;
	padding:5px;
	-moz-border-radius: 7px;
    border-radius: 7px;
}

/* Row specific settings for generic content */
td #lfmwContentSpan
{
	margin-left: auto;
	margin-right: auto;
	width:97%;
}

/* Override the link color on generic content rows that are anchors*/
a:link #lfmwContentSpan
{
	color:#ffffff;
}

/* Override the visited color on generic content rows that are anchors */
a:visited #lfmwContentSpan
{
	color:#E0E0E0;
}

/*************
 * Main Menu *
 *************/

/* Main Menu Container */
#lfmwMenuBlockHeader
{
	text-align:center;
	width:95%;
    padding:5px;
    border:groove;
    border-color:red;
    border-radius:15px;
    display:block;
    overflow:visible;
}

/* Last.FM username span */
#lfmwMenuUserName
{
	color:#FFFFFF;
	font-size:larger;
	position:relative;
	top:-15px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius:7px;
	border-radius:7px;
	background:rgba(0,0,0,0.75);
}

/* Div where the content is displayed */
#lfmwMenuContent
{
	
}

/* Div where the buttons are displayed*/
#lfmwMenuButtons
{
	clear:left;
}

/* An individual button in the menu */
#lfmwMenuButton
{
	color:#FFFFFF;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius:7px;
	border-radius:7px;
	background:rgba(0,0,0,0.75);
}

/* An individual button that is hovered over */
#lfmwMenuButton:hover
{
	background:rgba(0,0,0,1.0);
}

/* Last.FM menu option panel */
#lfmwMenuOptions
{
	
}

/*****************
 * Recent Tracks *
 *****************/

/**************
 * Top Tracks *
 **************/

/**************
 * Top Albums *
 **************/

/**************
 * Top Artists *
 **************/

/******************
 * Recently Loved *
 ******************/